/* _button.scss */

$btn_color_default: white;
$btn_color_blue: #00f0ff;
$btn_color_red: red;
$btn_color_orange: orange;
$btn_color_green: green;

.btn-default{
	padding:10px;
	font-size:14px;
	text-align:center;
	vertical-align: middle;
	border: 1px solid gray;
	border-radius: 4px;
	color:#000;
	background-color: $btn_color_default;

	&:hover{
		opacity: 0.9;
	}
}

.btn-blue{
	@extend .btn-default;
	
	$btn_color_blue: blue !default;

	border: 1px solid $btn_color_blue;
	color:#fff;
	background-color: $btn_color_blue;
}

.btn-red{
	@extend .btn-default;

	border: 1px solid $btn_color_red;
	color:#fff;
	background-color: $btn_color_red;
}

.btn-orange{
	@extend .btn-default;

	border: 1px solid $btn_color_orange;
	color:#fff;
	background-color: $btn_color_orange;
}

.btn-green{
	@extend .btn-default;

	border: 1px solid $btn_color_green;
	color:#fff;
	background-color: $btn_color_green;

}